body {
	margin: 0;
	background-color: chocolate;
}

main {
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	padding: 20px 40px;
	cursor: pointer;
	font-weight: 700;
	color: chocolate;
}

footer {
	min-height: 10vh;
	background-color: white;
	color: chocolate;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}

footer a {
	margin: 0 5px;
	text-decoration: none;
	transition: all 0.1s ease-in;
}

footer a:visited {
	color: chocolate;
}

footer a:hover {
	color: #e2c51f;
}
